
/* Container holding the image and the text */
.container {
    position: absolute;
    text-align: left;
    color: black;
    font-size: 20px;
    
    
}
  
  /* Top left text */
.name {
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 17px;
}
  

html {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  padding: 5px;
  border: 12px;
  line-height: 0.5cm;

}

.links:visited {
  color: black;
}
