.links {
    color: black;
    text-decoration: none;
    cursor: pointer;
    /* background: brown; */

    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border: 2px solid #bc2035;

}

/* .links:visited {
    color: blue;
} */

/* .links:hover {
    background: #bc2035;
    color: white;
} */

/* .links:active {
    background: #bc2035;
    color: white;
} */

.links:visited {
    border-color: #ddd;
    color: #ddd;
}