#paragrafos {
    background: red;
}

.subDiv {
    background-color: yellow;
}

#titulo {
    color: #ff0000;
}

.texto_verde {
    color: green;  
}

#cm {
    background-color: blue;
    width: 1cm;
    height: 1cm;
}

#mm {
    background-color: red;
    width: 1mm;
    height: 1mm;
}

#in {
    background-color: blue;
    width: 1in;
    height: 1in;
}

#px {
    background-color: red;
    width: 10px;
    height: 10px;
}

#pt {
    background-color: blue;
    width: 10pt;
    height: 10pt;
}

#pc {
    background-color: red;
    width: 1pc;
    height: 1pc;
}


p {
    color: blue;
}

html {
    font-size: 20px;
}

.container {
    width: 200px;
    height: 500px;
    background: red;
}

.inside {
    width: 50%;
    height: 50%;
    background: blue;
    
}

#base {
    height: 10px;
    background-color: red;
}

#container2 {
    background-color: blue;
    color: white;
    padding: 10px;

    /*margin: 10px; */

}



